{{template "base" .}}

{{define "main"}}

<main id="admin">
    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    <h1 class="text-xl font-bold">Version</h1>
    <p>{{.AppVersion}} (build {{.AppBuild}})</p>
    <hr class="border border-gray-800 mt-6 mb-4">

    <h1 class="text-xl font-bold">Configure maintenance mode</h1>
    <form action="/admin/maintenance_mode" method="POST">
        {{if .MaintenanceModeEnabled}}
            <p class="ml-2 mb-1">Maintenance mode is currently <strong>enabled</strong>.</p>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Disable maintenance mode</button>
        {{else}}
            <p class="ml-2 mb-1">Maintenance mode is currently <strong>disabled</strong>.</p>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enable maintenance mode</button>
        {{end}}
    </form>
    <hr class="border border-gray-800 mt-6 mb-4">

    <h1 class="text-xl font-bold mb-4">Configure event targets</h1>
    <a href="/admin/event_targets" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Event targets</a>
</main>

{{end}}
