{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

        <title>Atom</title>

        <link rel="stylesheet" href="app.css" />
    </head>

    <body class="h-screen bg-gray-300 overflow-y-scroll">
        <header class="h-64 pt-6 bg-gray-800 text-gray-300">
            <div id="menu" class="w-5/6 px-5 mx-auto pb-1 border-b border-gray-700 flex flex-row">
                <a href="/"><img src="logo.svg" class="w-12 mb-2" height="48" width="48" /></a>
                {{if .IsAuthenticated}}
                    <a href="/jobs" class='{{if eq .ActivePage "jobs"}}bg-gray-900{{end}} h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'>Jobs</a>
                    <a href="/schedules" class='{{if eq .ActivePage "schedules"}}bg-gray-900{{end}} h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'>Schedules</a>
                    <a href="/workers" class='{{if eq .ActivePage "workers"}}bg-gray-900{{end}} h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'>Workers</a>
                    <a href="/scripts" class='{{if eq .ActivePage "scripts"}}bg-gray-900{{end}} h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'>Scripts</a>
                    <div class="ml-auto my-auto">
                        {{if .MaintenanceModeEnabled}}
                            <span class='bg-orange-600 text-gray-200 font-medium h-10 my-auto px-2 py-2 rounded'>Maintenance Mode: On</span>
                        {{end}}
                        <a href="/admin" class='{{if eq .ActivePage "admin"}}bg-gray-900{{end}} h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'><i class="fas fa-cog"></i></a>
                        <a href="/api" class='h-10 my-auto hover:bg-gray-900 active:bg-gray-900 active:border-none px-2 py-2 rounded focus:outline-none ml-5'>API Docs</a>
                    </div>
                {{end}}
            </div>
        </header>

        <div class="bg-gray-200 h-auto w-5/6 p-5 -mt-32 mx-auto text-gray-900 shadow-xl rounded">
            {{template "main" .}}
        </div>

        <footer class="h-8"></footer>
    </body>

    <script type="text/javascript" src="app.js"></script>
</html>
{{end}}
