{{template "base" .}}

{{define "main"}}
<main id="event_targets">
    {{with .Flash}}
    <div id="flash" class="ml-12 mb-4 px-3 py-2 bg-amber-300">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    <table class="w-full border-collapse rounded">
        <thead class="text-left bg-gray-800 text-gray-300">
            <th scope="col" class="bg-gray-200 border-b border-gray-200 pr-3.5 py-2 text-center w-1">
                {{if (eq .UserRole "admin")}}
                <a href="/admin/event_target/add"><i class="fas fa-plus-square cursor-pointer text-emerald-500 hover:text-emerald-600" title="Add new event target"></i></a>
                {{end}}

                {{if (eq .UserRole "user")}}
                <!-- This is just a spacer to make the table look right -->
                <i class="fas fa-square text-gray-200"></i>
                {{end}}
            </th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Name</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Target</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Event Type</th>
        </thead>
        <tbody>
            {{range .EventTargets}}
            <tr class="hover:bg-gray-400 cursor-pointer event_target-row" data-id="{{.ID}}">
                <td class="bg-gray-200 border-b border-gray-200 pr-3.5 py-2 text-center w-1 text-gray-500"><a href="/admin/event_target/{{.ID}}"><i class="fas fa-pen-to-square hover:text-gray-600" title="Edit event target"></i></a></td>
                <td class="border border-gray-400 px-4 py-2">{{.Name}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.Target}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.EventType}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{end}}
