{{template "base" .}}

{{define "main"}}

<main id="event_target_detail">
    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    {{if eq .Action "view"}}
    <form action='/admin/event_target/{{.FormData.Get "id"}}' method="POST">
    {{end}}
    {{if eq .Action "add"}}
    <form action="/admin/event_target/add" method="POST">
    {{end}}
        <fieldset>
            <input type="hidden" name="id" id="id" value='{{.FormData.Get "id"}}'>

            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-6">
                    <label for="name" class="block px-2 mb-0.5"><strong>Name</strong></label>
                    {{with .FormErrors.name}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="name" id="name" class="w-full px-2 py-1 font-mono" placeholder="Enter event target friendly name" value='{{.FormData.Get "name"}}' required autofocus>
                </div>

                <div class="col-span-6">
                    <label for="target" class="block px-2 mb-0.5"><strong>Target</strong></label>
                    {{with .FormErrors.target}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="target" id="target" class="w-full px-2 py-1 font-mono" placeholder="Enter target URL" value='{{.FormData.Get "target"}}' required>
                </div>

                <div class="col-span-6">
                    <label for="event_type" class="block px-2 mb-0.5"><strong>Event Type</strong></label>
                    {{with .FormErrors.event_type}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="event_type" id="event_type" class="w-full px-2 py-1 font-mono" placeholder="Enter event type to catch" value='{{.FormData.Get "event_type"}}' required>
                </div>
            </div>
        </fieldset>

        {{if ne .Action "delete"}}
            {{if eq .Action "add"}}
                <button type="submit" name="action" class="mt-6 px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded" value="add">Add event target</button>
            {{end}}

            {{if eq .Action "view"}}
                <button type="submit" name="action" class="mt-6 px-4 py-1 bg-red-500 hover:bg-red-700 text-white rounded" value="delete">Delete event target</button>
            {{end}}
        {{end}}

        {{if eq .Action "delete"}}
        <div class="bg-orange-500 text-white w-full mt-6 py-2 px-3 relative">
            <strong class="font-bold">Are you sure?</strong>
            <span class="block sm:inline">You are about to delete this event target.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
                <form action='/admin/event_target/{{.FormData.Get "id"}}/delete' method="POST" class="inline">
                    <input type="hidden" name="id" id="id" value='{{.FormData.Get "id"}}'>
                    <button type="submit"><i class="fas fa-check text-white cursor-pointer hover:text-black mr-4"></i></button>
                </form>
                <a href='/admin/event_target/{{.FormData.Get "id"}}'><i class="fas fa-times text-white cursor-pointer hover:text-black"></i></a>
            </span>
        </div>
        {{end}}
    </form>
</main>

{{end}}
