{{template "base" .}}

{{define "main"}}
<main id="job_detail">
    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    <table class="w-full border-collapse rounded">
        <tbody>
            <tr>
                <td class="py-2">
                    <form>
                        {{if eq .Action "view"}}
                            {{if isJobCancellable .Job.Status}}
                            <button type="submit" name="action" value="cancel" class="px-4 py-1 bg-orange-500 hover:bg-orange-700 text-white rounded" formaction="/jobs/{{.Job.ID}}" formmethod="POST">Cancel</button>
                            {{end}}
                            <button type="submit" class="px-4 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded" formaction="/scripts/{{.Script.ID}}/execute" formmethod="GET">Run again</button>
                            <button type="submit" class="px-4 py-1 bg-emerald-500 hover:bg-emerald-700 text-white rounded" formaction="/schedules/add" formmethod="GET">Create scheduled job</button>
                        {{end}}

                        {{if eq .Action "delete"}}
                        <div class="bg-orange-500 text-white w-full py-2 px-3 relative">
                            <strong class="font-bold">Are you sure?</strong>
                            <span class="block sm:inline">You are about to cancel this job.  The job will end instantly, regardless of progress.</span>
                            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
                                <form class="inline">
                                    <button type="submit" formaction="/jobs/{{.Job.ID}}/cancel" formmethod="POST"><i class="fas fa-check text-white cursor-pointer hover:text-black mr-4"></i></button>
                                </form>
                                <a href='/jobs/{{.Job.ID}}'><i class="fas fa-times text-white cursor-pointer hover:text-black"></i></a>
                            </span>
                        </div>
                        {{end}}

                        <input type="hidden" name="executor" value="{{.Job.Executor}}">
                        <input type="hidden" name="script" value="{{.Job.Script}}">
                        <input type="hidden" name="parameters" value="{{.Job.Parameters}}">
                        <input type="hidden" name="execution_username" value="{{.Job.ExecutionUsername}}">
                        <input type="hidden" name="scope" value="{{.Job.Scope}}">
                        <input type="hidden" name="expire_queued_job_after_duration" value="{{.Job.ExpireQueuedJobAfterDuration}}">
                    </form>
                </td>
            </tr>
            <tr>
                <td class="py-2"><strong>Executor: </strong><span class="font-mono">{{.Job.Executor}}</span></td>
            </tr>
            <tr>
                <td class="py-2"><strong>Command: </strong><span class="font-mono">{{.Job.Script}} {{.Job.Parameters}}</span></td>
            </tr>
            <tr>
                <td class="py-2"><strong>Status: </strong>{{friendlyJobStatus .Job.Status}}</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Requested By: </strong>{{.Job.ExecutionRequestedBy}}</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Execution Username: </strong>
                    {{if eq .Job.ExecutionUsername ""}}
                    <span>Worker service account</span>
                    {{else}}
                    <span>{{.Job.ExecutionUsername}}</span>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td class="py-2"><strong>Started At: </strong>{{friendlydate .Job.CreatedAt}}</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Expire queued job after: </strong>{{friendlydate .Job.ExpireQueuedJobAfterTimestamp}} ({{.Job.ExpireQueuedJobAfterDuration}})</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Execution Time: </strong>
                    {{if isJobFinished .Job.Status}}
                    <span>{{.Job.ExecutionTimeFriendly}}</span>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td class="py-2"><strong>Process ID: </strong>
                    {{if ne .Job.ProcessID 0}}
                    <span>{{.Job.ProcessID}}</span>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td class="py-2"><strong>Finished At: </strong>
                    {{if isJobFinished .Job.Status}}
                    <span>{{friendlydate .Job.FinishedAt}}</span>
                    {{end}}
                </td>
            </tr>
            <tr>
                <td class="py-2"><strong>Worker IP: </strong>{{.Job.WorkerIP}}</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Worker Server: </strong>{{.Job.WorkerServerName}}</td>
            </tr>
            <tr>
                <td class="py-2"><strong>Worker OS: </strong>{{.Job.WorkerOs}}</td>
            </tr>
            <tr>
                <td class="py-2"><pre class="px-6 bg-gray-800 text-gray-300 whitespace-pre-wrap">{{formatJobLog .Job.Log .Job.Executor}}</pre></td>
            </tr>
        </tbody>
    </table>
</main>
{{end}}
