{{template "base" .}}

{{define "main"}}
<main id="jobs">
    {{with .Flash}}
    <div id="flash" class="ml-12 mb-4 px-3 py-2 bg-amber-300">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    <form action="/jobs" method="get" class="flex items-center relative">
        <i class="fas fa-circle-question cursor-pointer mr-4" id="toggle_filter_help"></i>
        <input type="text" class="flex-1 px-2 h-10" id="filter" name="filter" value="{{.FilterString}}" placeholder="Example filter -> job:jobname scope:scopename">
        <button type="button" class="px-2 ml-2 border border-gray-500 hover:bg-gray-400 h-10" id="jobs-timeframe">
            <i class="fas fa-clock mr-2"></i>
            <span id="job_timerange_label">{{.JobsDatepickerString}}</span>
            <span id="hiding-date-picker"><i class="fas fa-angle-down ml-2"></i></span>
            <span id="showing-date-picker" class="hidden"><i class="fas fa-angle-up ml-2"></i></span>
        </button>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
        </button>

        <div class="border border-gray-800 shadow-xl bg-gray-700 grid grid-cols-2 absolute top-116 right-0 w-546px text-gray-400 hidden" id="jobs-timeframe-menu">
            <div class="border-r border-gray-800 pt-2 px-2">
                <h3 class="font-bold mb-2">Absolute time range</h3>
                <label for="from" class="block pb-2">From</label>
                <input type="datetime-local" id="from" class="block bg-gray-800 border-gray-600 border p-1">

                <label for="to" class="block mt-1 pb-2">To</label>
                <input type="datetime-local" id="to" class="block bg-gray-800 border-gray-600 border p-1">

                <button type="button" id="use_absolute_timerange" class="px-2 py-2 mt-3 text-gray-300 bg-blue-700 border-2 border-gray-700 hover:bg-gray-800 hover:border-blue-400">Use time range</button>
            </div>
            <div class="pt-2" id="relative_time_ranges">
                <h3 class="font-bold mb-1 px-2">Relative time ranges</h3>
                <ul>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Last 24 hours</button>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Last 2 days</button>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Last 7 days</button>
                </ul>
                <h3 class="font-bold mb-1 px-2">Other quick ranges</h3>
                <ul>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Yesterday</button>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Day before yesterday</button>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">Today</button>
                    <button type="button" class="w-full text-left mb-1 px-2 py-2 cursor-pointer hover:bg-gray-800 hover:border-blue-400 border-l-3 border-gray-700">This Week</button>
                </ul>
            </div>
        </div>
    </form>

    <div class="mt-1 mb-4 ml-8 w-full text-sm">
        <p id="filter_help" class="hidden">
            Filter the jobs by typing <em>fieldname:value</em>; each field/value combo should be separated by a space and the values are assumed to be a fuzzy search so can be a partial value.
            <br>
            For example <em>job:update scope:powershell</em> will filter for any jobs where the job name is equal to <em>*update*</em> and the scope is equal to <em>*powershell*</em>.
            <br>
            <strong>IMPORTANT:</strong> Any value with spaces in it <strong>MUST</strong> be enclosed in quotes.
        </p>
    </div>

    <table class="w-full border-collapse rounded">
        <thead class="text-left bg-gray-800 text-gray-300">
            <!-- This is just a spacer to make the table look right -->
            <th scope="col" class="bg-gray-200 border-b border-gray-200 pr-4 py-2 text-center w-1"><i class="fas fa-square text-gray-200"></i></th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Job</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Scope</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Worker</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Requested Time</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Expire Queued Job After</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Status</th>
        </thead>
        <tbody>
            {{range .Jobs}}
            <tr class="hover:bg-gray-400 cursor-pointer job-row" data-id="{{.ID}}">
                <td class="bg-gray-200 border-b border-gray-200 pr-3 py-2 text-center w-1 text-gray-500"><a href="/jobs/{{.ID}}"><i class="fas fa-eye hover:text-gray-600" title="View job details"></i></a></td>
                <td class="border border-gray-400 px-4 py-2">{{.Script}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.Scope}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.WorkerName}}</td>
                <td class="border border-gray-400 px-4 py-2">{{friendlydate .CreatedAt}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.ExpireQueuedJobAfterDuration}}</td>
                <td class="border border-gray-400 px-4 py-2">{{friendlyJobStatus .Status}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{end}}
