{{template "base" .}}

{{define "main"}}
<main id="login" class="mx-10">
    {{with .Flash}}
    <div id="flash" class="mb-4 px-3 py-2 bg-amber-300">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    <form action="/login" method="POST" class="w-56 mx-auto grid gap-4">
        <fieldset>
            <input type="text" name="username" id="username" autofocus autocomplete="off" required placeholder="Enter your UPN" class="w-full border border-gray-300 rounded-t-md px-3 py-2 focus:ring-indigo-500 focus:border-indigo-500" value='{{.FormData.Get "username"}}'>
            <input type="password" name="password" id="password" autocomplete="off" required placeholder="password" class="w-full border border-gray-300 rounded-b-md px-3 py-2 focus:ring-indigo-500 focus:border-indigo-500">
        </fieldset>

        <fieldset>
            <input type="submit" value="Login" class="w-full py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        </fieldset>
    </form>
</main>
{{end}}
