{{template "base" .}}

{{define "main"}}

<main id="schedules">
    <form action="/schedules" method="get" class="flex items-center relative">
        <i class="fas fa-circle-question cursor-pointer mr-4" id="toggle_filter_help"></i>
        <input type="text" class="flex-1 px-2 h-10" id="filter" name="filter" value="{{.FilterString}}" placeholder="Example filter -> script:scriptname executor:executorname">
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
        </button>
    </form>

    <div class="mt-1 mb-4 ml-8 w-full text-sm">
        <p id="filter_help" class="hidden">
            Filter the schedules by typing <em>fieldname:value</em>; each field/value combo should be separated by a space and the values are assumed to be a fuzzy search so can be a partial value.
            <br>
            For example <em>script:update schedule:"5 * *"</em> will filter for any schedules where the script name is equal to <em>*update*</em> and the schedule is equal to <em>*"5 * *"*</em>.
            <br>
            To filter on Execution User, do <em>execution_username:value</em>.
            <br>
            <strong>IMPORTANT:</strong> Note the quotes around the schedule to be searched for.  Any value with spaces in it <strong>MUST</strong> be enclosed in quotes.
        </p>
    </div>

    <table class="w-full border-collapse rounded">
        <thead class="text-left bg-gray-800 text-gray-300">
            <th scope="col" class="bg-gray-200 border-b border-gray-200 pr-3.5 py-2 text-center w-1">
                {{if (eq .UserRole "admin")}}
                <a href="/schedules/add"><i class="fas fa-plus-square cursor-pointer text-emerald-500 hover:text-emerald-600" title="Add new scheduled job"></i></a>
                {{end}}

                {{if (eq .UserRole "user")}}
                <!-- This is just a spacer to make the table look right -->
                <i class="fas fa-square text-gray-200"></i>
                {{end}}
            </th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Script</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Parameters</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Executor</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Execution User</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Scope</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Expire After</th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Schedule</th>
        </thead>


        <tbody>
            {{range .JobSchedules}}
            <tr class="hover:bg-gray-400 cursor-pointer schedule-row" data-id="{{.ID}}">
                <td class="bg-gray-200 border-b border-gray-200 pr-3.5 py-2 text-center w-1 text-gray-500"><a href="/schedules/{{.ID}}"><i class="fas fa-pen-to-square hover:text-gray-600" title="Edit schedule"></i></a></td>
                <td class="border border-gray-400 px-4 py-2">{{.Script}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.Parameters}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.Executor}}</td>
                <td class="border border-gray-400 px-4 py-2">
                    {{if eq .ExecutionUsername ""}}
                    <span>Worker service account</span>
                    {{else}}
                    <span>{{.ExecutionUsername}}</span>
                    {{end}}
                </td>
                <td class="border border-gray-400 px-4 py-2">{{.Scope}}</td>
                <td class="border border-gray-400 px-4 py-2">{{.ExpireQueuedJobAfterDuration}}</td>
                <td class="border border-gray-400 px-4 py-2">
                    {{if .Paused}}
                    <span>paused</span>
                    {{else}}
                    <span>{{.Schedule}}</span>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{end}}
