{{template "base" .}}

{{define "main"}}

<main id="schedule_detail">
    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    {{if eq .Action "view"}}
    <form action='/schedules/{{.FormData.Get "id"}}' method="POST">
    {{end}}
    {{if eq .Action "add"}}
    <form action="/schedules/add" method="POST">
    {{end}}
        <fieldset>
            <input type="hidden" name="id" id="id" value='{{.FormData.Get "id"}}'>

            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-6">
                    <label for="script" class="block px-2 mb-0.5"><strong>Script</strong></label>
                    {{with .FormErrors.script}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input list="scripts" class="w-full px-2 py-1 font-mono" id="script" name="script" value='{{.FormData.Get "script"}}'
                        placeholder="Enter the script name"
                        hx-post="/scripts/search"
                        hx-trigger="keyup delay:500ms"
                        hx-target="#scripts"
                        required
                        autofocus>
                    <datalist id="scripts"></datalist>
                </div>

                <div class="col-span-6">
                    <label for="parameters" class="block px-2 mb-0.5"><strong>Parameters</strong></label>
                    {{with .FormErrors.parameters}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="parameters" id="parameters" class="w-full px-2 py-1 font-mono" placeholder="Enter parameters, if any" value='{{.FormData.Get "parameters"}}'>
                </div>

                <div class="col-span-6">
                    <label for="executor" class="block px-2 mb-0.5"><strong>Executor</strong></label>
                    {{with .FormErrors.executor}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <select name="executor" id="executor" class="w-full px-2 py-1 font-mono">
                        {{$executor := .FormData.Get "executor"}}
                        <option {{if (eq $executor "ansible")}}selected{{end}} value="ansible">Ansible</option>
                        <option {{if (eq $executor "powershell")}}selected{{end}} value="powershell">PowerShell</option>
                        <option {{if (eq $executor "pwsh")}}selected{{end}} value="pwsh">PWSH</option>
                        <option {{if (eq $executor "binary")}}selected{{end}} value="binary">Binary</option>
                    </select>
                </div>

                <div class="col-span-6">
                    <label for="execution_username" class="block px-2 mb-0.5"><strong>Execution Username</strong></label>
                    {{with .FormErrors.execution_username}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="execution_username" id="execution_username" class="w-full px-2 py-1 font-mono" placeholder="Defaults to worker service account; enter a specifc user if required" value='{{.FormData.Get "execution_username"}}'>
                </div>

                <div class="col-span-6">
                    <label for="scope" class="block px-2 mb-0.5"><strong>Scope</strong></label>
                    {{with .FormErrors.scope}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="scope" id="scope" class="w-full px-2 py-1 font-mono" placeholder="Enter scope" value='{{.FormData.Get "scope"}}' required>
                </div>

                <div class="col-span-6">
                    <label for="expire_queued_job_after_duration" class="block px-2 mb-0.5"><strong>Expire after</strong></label>
                    {{with .FormErrors.expire_queued_job_after_duration}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="expire_queued_job_after_duration" id="expire_queued_job_after_duration" class="w-full px-2 py-1 font-mono" placeholder="Enter expiry time" value='{{.FormData.Get "expire_queued_job_after_duration"}}'>
                </div>

                <div class="col-span-6">
                    <label for="schedule" class="block px-2 mb-0.5"><strong>Schedule</strong></label>
                    {{with .FormErrors.schedule}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="schedule" id="schedule" class="w-full px-2 py-1 font-mono" placeholder="Enter schedule" value='{{.FormData.Get "schedule"}}' required>
                </div>
            </div>
        </fieldset>

        {{if ne .Action "delete"}}
            <button type="submit" name="action" class="mt-6 px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded" value="add_update">
                {{if eq .Action "view"}}
                <span>Update scheduled job</span>
                {{end}}
                {{if eq .Action "add"}}
                <span>Add scheduled job</span>
                {{end}}
            </button>

            {{if eq .Action "view"}}
                <button type="submit" name="action" class="px-4 py-1 bg-amber-500 hover:bg-amber-700 text-white rounded" formaction='/schedules/{{.FormData.Get "id"}}/execute' formmethod="POST" value="run">Run job</button>

                {{$paused := .FormData.Get "paused"}}
                {{if (eq $paused "false")}}
                <button type="submit" name="action" class="px-4 py-1 bg-emerald-500 hover:bg-emerald-700 text-white rounded" value="pause">Pause schedule</button>
                {{else}}
                <button type="submit" name="action" class="px-4 py-1 bg-emerald-500 hover:bg-emerald-700 text-white rounded" value="unpause">Unpause schedule</button>
                {{end}}

                <button type="submit" name="action" class="px-4 py-1 bg-red-500 hover:bg-red-700 text-white rounded" value="delete">Delete schedule</button>
            {{end}}
        {{end}}

        {{if eq .Action "delete"}}
        <div class="bg-orange-500 text-white w-full mt-6 py-2 px-3 relative">
            <strong class="font-bold">Are you sure?</strong>
            <span class="block sm:inline">You are about to delete this scheduled job.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
                <form action='/schedules/{{.FormData.Get "id"}}/delete' method="POST" class="inline">
                    <input type="hidden" name="id" id="id" value='{{.FormData.Get "id"}}'>
                    <button type="submit"><i class="fas fa-check text-white cursor-pointer hover:text-black mr-4"></i></button>
                </form>
                <a href='/schedules/{{.FormData.Get "id"}}'><i class="fas fa-times text-white cursor-pointer hover:text-black"></i></a>
            </span>
        </div>
        {{end}}
    </form>
</main>

{{end}}
