{{template "base" .}}

{{define "main"}}

<main id="scripts_detail">
    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    <form action="/scripts/add" method="POST">
        <fieldset>
            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-6">
                    <label for="name" class="block px-2 mb-0.5"><strong>Script Name</strong></label>
                    {{with .FormErrors.name}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="name" id="name" class="w-full px-2 py-1 font-mono" placeholder="Enter script name" value='{{.FormData.Get "name"}}' required autofocus>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="mt-6 px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded">Add script</button>
    </form>
</main>

{{end}}
