{{template "base" .}}

{{define "main"}}

<main id="scripts">
    <form action="/scripts" method="get" class="flex items-center relative">
        <i class="fas fa-circle-question cursor-pointer mr-4" id="toggle_filter_help"></i>
        <input type="text" class="flex-1 px-2 h-10" id="filter" name="filter" value="{{.FilterString}}" placeholder="Example filter -> script:scriptname">
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
        </button>
    </form>

    <div class="mt-1 mb-4 ml-8 w-full text-sm">
        <p id="filter_help" class="hidden">
            Filter the scripts by typing <em>fieldname:value</em>; each field/value combo should be separated by a space and the values are assumed to be a fuzzy search so can be a partial value.
            <br>
            For example <em>script:update</em> will filter for any scripts where the script name is equal to <em>*update*</em>.
            <br>
            <strong>IMPORTANT:</strong> Any value with spaces in it <strong>MUST</strong> be enclosed in quotes.
        </p>
    </div>

    {{with .Flash}}
    <div id="flash" class="ml-12 mb-4 px-3 py-2 bg-amber-300">
        <p class="text-center font-semibold">{{.}}</p>
    </div>
    {{end}}

    <table class="w-full border-collapse rounded">
        <thead class="text-left bg-gray-800 text-gray-300">
            <th scope="col" class="bg-gray-200 border-b border-gray-200 pr-4 py-2 text-center w-1">
                {{if (eq .UserRole "admin")}}
                <a href="/scripts/add"><i class="fas fa-plus-square cursor-pointer text-emerald-500 hover:text-emerald-600" title="Add approved script"></i></a>
                {{end}}

                {{if (eq .UserRole "user")}}
                <!-- This is just a spacer to make the table look right -->
                <i class="fas fa-square text-gray-200"></i>
                {{end}}
            </th>
            <th scope="col" class="border border-gray-400 px-4 py-2">Script</th>
        </thead>

        <tbody>
            {{range .Scripts}}
            <tr class="hover:bg-gray-400">
                <td class="bg-gray-200 border-b border-gray-200 pr-4 py-2 text-center w-1 text-emerald-500"><a href="/scripts/{{.ID}}/execute"><i class="fas fa-play cursor-pointer hover:text-emerald-600" title="Execute job"></i></a></td>
                <td class="border border-gray-400 px-4 py-2">{{.Name}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>

{{end}}
