{{template "base" .}}

{{define "main"}}

<main id="script_execute">
    <h1 class="text-xl mb-4 px-2 font-bold pb-2 border-b border-solid border-gray-400">{{.Script.Name}}</h1>

    {{if .ErrorMessage}}
    <div class="bg-orange-500 text-white w-full py-2 px-3 mb-4">
        <span class="block sm:inline">{{.ErrorMessage}}</span>
    </div>
    {{end}}

    <form action="/scripts/{{.Script.ID}}/execute" method="POST">
        <fieldset>
            <input type="hidden" name="name" id="name" value="{{.Script.Name}}">

            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-6">
                    <label for="parameters" class="block px-2 mb-0.5"><strong>Parameters</strong></label>
                    {{with .FormErrors.parameters}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="parameters" id="parameters" class="w-full px-2 py-1 font-mono" placeholder="Enter parameters, if any" value='{{.FormData.Get "parameters"}}' autofocus>
                </div>

                <div class="col-span-6">
                    <label for="executor" class="block px-2 mb-0.5"><strong>Executor</strong></label>
                    {{with .FormErrors.executor}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <select name="executor" id="executor" class="w-full px-2 py-1 font-mono">
                        {{$executor := .FormData.Get "executor"}}
                        <option {{if (eq $executor "ansible")}}selected{{end}} value="ansible">Ansible</option>
                        <option {{if (eq $executor "powershell")}}selected{{end}} value="powershell">PowerShell</option>
                        <option {{if (eq $executor "pwsh")}}selected{{end}} value="pwsh">PWSH</option>
                        <option {{if (eq $executor "binary")}}selected{{end}} value="binary">Binary</option>
                    </select>
                </div>

                <div class="col-span-6">
                    <label for="execution_username" class="block px-2 mb-0.5"><strong>Execution Username</strong></label>
                    {{with .FormErrors.execution_username}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="execution_username" id="execution_username" class="w-full px-2 py-1 font-mono" placeholder="Defaults to worker service account; enter a specifc user if required" value='{{.FormData.Get "execution_username"}}'>
                </div>

                <div class="col-span-6">
                    <label for="scope" class="block px-2 mb-0.5"><strong>Scope</strong></label>
                    {{with .FormErrors.scope}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="scope" id="scope" class="w-full px-2 py-1 font-mono" placeholder="Enter scope" value='{{.FormData.Get "scope"}}' required>
                </div>

                <div class="col-span-6">
                    <label for="expire_queued_job_after_duration" class="block px-2 mb-0.5"><strong>Expire after</strong></label>
                    {{with .FormErrors.expire_queued_job_after_duration}}
                        <label class="block px-2 mb-0.5 text-sm text-red-600 font-semibold">{{.}}</label>
                    {{end}}
                    <input type="text" name="expire_queued_job_after_duration" id="expire_queued_job_after_duration" class="w-full px-2 py-1 font-mono" placeholder="Enter expiry time" value='{{.FormData.Get "expire_queued_job_after_duration"}}' required>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="mt-6 px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded">Execute job</button>
    </form>
</main>

{{end}}
